/* screen - frame-138 */

.frame-138 {
  background-color: var(--mirage);
  height: 362px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1304px;
}

.frame-138 .group-245-C61RwL {
  background-color: transparent;
  height: 324px;
  left: 68px;
  position: absolute;
  top: -6px;
  width: 1265px;
}
