*
{
    margin: 0;
    padding: 0;
}

html {
/* Prevent font scaling in landscape */
-webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
-moz-text-size-adjust: none; /*Firefox*/
-ms-text-size-adjust: none; /*Ie*/
-o-text-size-adjust: none; /*old versions of Opera*/
}

.wrapper{
    width: 980px;
    margin: 0 auto 0 auto;
    
   
}
.wrapper2{
    width: 980px;
    margin: 0 auto 0 auto;
    background-color: #59C25E;
   
}
header
{
    width:100%;
    height: 50px;
    text-align: center; 
    background: white;

    
}

.fixed-nav-bar {
  position: fixed;

  width: 100%;
  height: 100px;
    
  background-color: ;
 
    margin-left: 100px;
    margin-right: 100px;
  
    
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 25px;
    text-align: center;
    margin-right: 180px;
  
}

.main-nav li
{
    display: inline-block;
    
}

.main-nav li a
{
    color:black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}


.main-nav li a:hover 
{ 

    color: #BF1C2D;
}

.logo img
{
    width: 60px;
    height: auto;
    float: left;
    list-style: none;
  

    
}

body
{
    font-family: monospace;
}

.img_c {
	float: left;
	width: 50%;
	padding: 5px;
}

#selec
{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 20px;
}

.hero
{
    font-family: "Roboto", sans-serif;
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 0px;
}



.section1
{   
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
   
}

.myVideo2
{   
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
   
}


.section2
{  
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0px;
    text-align: justify;
}

.interns
{
  list-style: none;
}
.section3
{
  font-size: 15px;    
  font-family: "Roboto", sans-serif;    
  color: black;
  border: 1px solid white;
  background-color: white;
 
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.myname
{
    font-family: "Poppins"; 
    font-weight: 700;
    font-size: 45px;
    
}

.subtitle-t
{
    font-family: "Poppins"; 
    font-weight: 700;
    font-size: 27px;
    color: black;
}

.subtitle-t1
{
    font-family: "Poppins"; 
    font-weight: 700;
    font-size: 27px;
    color: #FB9F9F;
}
.subtitle
{
    font-family: "Poppins"; 
    font-weight: 700;
    font-size: 30px;
    color: black;
}
.subtitle-99
{
    font-family: "Poppins"; 
    font-weight: 700;
    font-size: 100px;
    color: #59C25E;
}


.subtitle29
{
    font-family: "Poppins"; 
    font-weight: 100;
    font-size: 24px;
    color: #717171;
    text-align: center;
}
.subtitle292
{
    font-family: "Poppins"; 
    font-weight: 100;
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
}


         
.subtitle40
{
    font-family: "Poppins"; 
    font-weight: 700;
    font-size: 33px;
    color: black;
   text-align: center;

}
.subtitle402
{
    font-family: "Poppins"; 
    font-weight: 700;
    font-size: 33px;
    color: white;
   text-align: center;

}


.section1 li {
    display: inline;
    list-style: none;
}

.container{
    width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.container2{
    width: 980px;
    height: auto;
    background-color: #59CE52;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.container2 {
  position: relative;
  width: 30%;
}
.box{
        font-family: "Roboto", sans-serif;
        width:260px;
        height: 265px;
        background: white;
        float: left;
        margin: 0px 10px;
        transition: 1s;
        text-align: center;
}

.box2{
        width: 200px;
        height: 265px;
        background: white;
        float: left;
       
      
}

.text {
  color: white;
  font-size: 28px;
  position: absolute;
  font-family: "Poppins";
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

 .container3{
        width: 980px;
        padding: 10px;
        background: white;
        margin: 10px auto;
        display: flex;
        justify-content: center;
}

    


img.imm {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(.9); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
    }

   img.imm:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.05);
    }

.feedback {
  font-family: "Poppins"; 
  background-color : #59C25E;
  color: white;
  padding-left: 50px ;
  padding-right: 50px ;
  padding-top: 20px ;
  padding-bottom: 20px ;
  border-radius: 80px;
  border-color: #59C25E;
  font-size: 43px;
  font-weight: 400;

}

#mybutton {
    
  margin: 0;
  bottom: 1%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  white-space: nowrap;
}

.footer2 {
   font-family: "Poppins"; 
   position: fixed;
   font-size: 55px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: yellow;
   color: white;
   text-align: center;
}